@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');



.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  padding-top: -150px;
}

.button {
  font-size: 19px;
  font-family: poppins;
  padding: 14px 30px;
}

.button {
  background-color: transparent; 
  color: white; 
  border: 2px solid white;
}

.button:hover {
  background-color: white;
  color: #222222;
  transition-duration: 0.8s;
  cursor: pointer;
}


body {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0px;
    left: -10px;
    height: 70px;
    width: 4000px;
    background-color: #843025;
}

.footer {
    position: absolute;
    top: 1700px;
    left: -10px;
    height: 40px;
    width: 4000px;
    background-color: #571d16;
    z-index: -4;
}

.footer2 {
    position: absolute;
    top: 1520px;
    left: -5px;
    height: 180px;
    width: 4000px;
    background-color: #843025;
    z-index: -5;
}


.home {
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: 12px;
    left: -300px;
    text-decoration: none;
    font-size: 20px;
    float: right;
}

.videos {
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    top: 12px;
    left: -120px;
    text-decoration: none;
    font-size: 20px;
    float: right;
}

.twitter {
    position: relative;
    top: 8px;
    left: 95px;
    width: 40px;
    float: right;
}

.yt {
    position: relative;
    top: 8px;
    left: 75px;
    width: 40px;
    float: right;
}

.icon {
    width: 45px;
    height: 45px;
    position: relative;
    top: 5px;
    left: 140px;
    float: left;
}

.wel {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    position: relative;
    color: 	#202020;
    top: -210px;
}

.wel2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    position: relative;
    color: 	#202020;
    top: -200px;
}

.wel {
    color: #202020;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  .ftxt {
      color: white;
      font-family: arial;
      padding-top: 12px;
      padding-left: 25px;
  }

  .sub {
    color: white;
    font-size: 23px;
    text-align: center;
    padding-top: 1420px;
    padding-left: 25px;
    font-family: 'Poppins Regular', sans-serif;
  }

  .subbutton {
    background-color: #571d16;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    align-content: center;
    position: absolute;
    left: 900px;
    top: 1645px;
  }

  .button1 {
    background-color: transparent;
    font-family: 'Poppins Regular', sans-serif;
    color: white; 
    border: 3px solid #571d16;
    align-content: center;
  }
  
  .button1:hover {
    background-color: #571d16;
    color: white;
  }
  @media only screen and (max-width: 768px) {
    .icon {
        left: 10px;
    }

    .yt {
        opacity: 0;
    }

    .twitter {
        opacity: 0;
    }

    .home {
        left: -115px;
    }

    .videos {
        left: 30px;
    }

}
