@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

.alert {
  background-color: #059142;
  width: 100%;
  height: 25px;
}

.alertxt {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* NAV BAR */

nav {
  background-color: #843025;
  width: 100%;
  height: 70px;
}

.home {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  float: right;
  padding: 22px;
  font-size: 18px;
  padding-right: 220px;
}

.discord {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  float: right;
  padding: 22px;
  font-size: 18px;
  padding-left: -290px;
}

.twitter {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 16px;
  margin-right: -320px;
}

.youtube {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 16px;
  margin-right: -380px;
}

.icon {
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 16px;
  padding-right: 0px;
  margin-left: 200px;
}

/* TITLE AND SUBTITLE */

.title {
  color:white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 30px;
  font-size: 37px;
}

.title2 {
  color: white;
  font-family: 'Poppins 400', sans-serif;
  text-align: center;
  padding-top: -5px;
  font-size: 30px;
}

.sub3 {
  color: white;
  font-family: 'Poppins Thin', sans-serif;
  text-align: center;
  padding-top: 80px;
  font-size: 20px;
}

/* LATEST CONTENT BLOCK */

.subblock {
  width: 850px;
  height: 140px;
  background-color: #843025;
  margin: auto;
  margin-top: 40px;
  padding: 50px;
}

.subblocktxt {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 30px;
  margin-top: -20px;
  margin-left: -10px;
}

.sbtxt2 {
  font-family: 'Poppins Thin', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: -5px;
  margin-left: -10px;
}

.btn {
  background-color: white;
  border: none;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-left: 549px;
  padding: 25px 50px;
}

.btn:hover {
  background-color: #333333;
  color: white;
  transition-duration: 0.5s;
}

.btnblock {
  margin-top: -51px;
}

.slideshowbg {
  width: 850px;
  height: 350px;
  background-color: #843025;
  margin: auto;
  margin-top: 140px;
  padding: 50px;
}

.dbg {
  width: 750px;
  height: 400px;
}

.footer {
  height: 10px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}





